.arrowLeft {
    position: absolute;
    top: 45%;
    height: 40px;
    width: 80px;
    box-shadow: 0 0 0 5px #fff;
    border: 2px solid #fff;
    color: #444546;
    background-color: #fff;
    padding: 0;
    left: -1%;
    z-index: 10;
    transform: rotate(90deg);
}

.arrowRight {
    position: absolute;
    top: 45%;
    height: 40px;
    width: 80px;
    box-shadow: 0 0 0 5px #fff;
    border: 2px solid #fff;
    color: #444546;
    background-color: #fff;
    padding: 0;
    right: -1%;
    z-index: 10;
    transform: rotate(-90deg);
}

.arrowLeft:hover, .arrowRight:hover {
    cursor: pointer;
}

.img {
    max-height: 500px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .arrowLeft {
        left: -1.5%;
    }

    .arrowRight {
        right: -1.5%;
    }
}

@media screen and (max-width: 1023px) {
    .arrowLeft {
        left: -2%;
        height: 30px;
        width: 60px;
    }

    .arrowRight {
        right: -2%;
        height: 30px;
        width: 60px;
    }
}

@media screen and (max-width: 767px) {
    .arrowLeft, .arrowRight {
        display: none;
    }
}